@charset "utf-8";
/* CSS Document */

/*--- 通用 ---*/
.x2 {min-width:549px;}
.x3 {min-width:730px;}
.s50 {max-width:102px;}
.s25 {max-width:54px;}
.s75 {max-width:150px;}
.mtop5 {margin-top:5px;}
.boxwin {border:1px solid #b1c1cc; /*margin:10px;*/}
.btnmar {margin:10px 0 0 92px;}
.tcenter {text-align:center;}
.tright {text-align:right;}
.tdw9 {width:9%;}


/*--- input输入框 ---*/
input[type="text"], select, textarea, input[type="password"], .btnchoose input[type="text"] {border:1px solid; border-color:#7ca3bf #b8d0e0 #b8d0e0 #7ca3bf; background:#ffffff; line-height:22px;}
input[type="text"], input[type="password"], textarea {text-indent:3px;}
input[type="text"], input[type="password"] {height:22px;}


/*--- 按钮 ---*/
.btn {width:65px;}
.btnwin a, .btnwin input, .btndiv a.btn {width:80px;}
.btn, .btnwin a, .btnwin input, .btntd a {margin-left:10px;}
.btnwin input {vertical-align:middle;}
.btn, .btnwin a, .btnwin input, .btntd a, .btnchoose input[type="button"] {text-align:center; border:1px solid;}
.btn, .btnwin a, .btnwin input, .btntd a {display:inline-block; height:24px; line-height:24px;}
.btn, .btnwin a, .btnwin input, .btnchoose input[type="button"] {color:#ffffff; border-color:#5cb8e6 #297ca6 #297ca6 #5cb8e6; background:#36a3d9;}
.btndisabled {color:#ffffff;  border-color:#c2c2c2 !important; background:#cccccc !important;}

.btnwin {position:absolute; bottom:0; right:1px; left:1px; background:#d8e5eb; text-align:right; padding:8px 10px}
.btntd a {border-color:#e6eef2 !important; background-color:#ebf6fa; background-repeat:no-repeat; background-position:15px 4px; padding:0 20px 0 32px;}

.btn:hover,.btnwin a:hover, .btnwin input:hover, .btnchoose input[type="button"]:hover {background:#005580; color:#ffffff;}
.btnchoose input[type="button"]:hover {border-color:#005580;}
.btntd a:hover {background-color:#daecf2;}
a.btndisabled:hover, .btndisabled a:hover {cursor:default; color:#ffffff; background:#cccccc;}

.btnsave {background-image:url(../images/icons/but_save.png);}
.btnreset {background-image:url(../images/icons/but_reset.png)}

.btnchoose {position:relative; width:220px;}
.btnchoose input[type="text"] {width:218px;}
.btnchoose input[type="button"] {height:22px; position:absolute; top:1px; right:0; width:45px;}

/*--- 文件上传 ---*/
.divfilebox {border:1px solid; border-color:#7ca3bf #b8d0e0 #b8d0e0 #7ca3bf; width:218px; position:relative; display:inline-block;}
.divfilebox input[type="text"] {width:172px; border:0 none;}
.divfilebox input[type="button"]{width:45px; background:#36a3d9; border-color:#5cb8e6 #5cb8e6 #5cb8e6 #297ca6; border-width:1px; border-style:solid; color:#ffffff; padding:0 3px; height:22px; position:absolute; top:0; right:0;}

/*--- 导航 ---*/
.location {height:28px; line-height:28px; padding-left:20px; background:url(../images/location.png) no-repeat 5px 9px; border-bottom:1px solid #c3d7e6; color:#666666;}
.location span {color:#175899;} 

 /*--- 查询条件区域 ---*/
.conditions {min-height:36px; background:#f5f5f5; min-width:824px; padding:3px 0 7px 0; border:solid #ffffff; border-width:1px 0;}
.conditions div {margin-top:5px;}
.conditions .title {display:inline-block; min-width:82px; text-align:right; font-weight:normal; vertical-align:middle;}
.treetabler .conditions {min-width:99%;}
.conditions + div {border-top:1px solid #ebebeb;}
.w13 {width:15%; display:inline-block; margin-left:-160px;}
.w12 {width:15%; display:inline-block; margin-left:-154px; min-width:145px;}
.conditions input[type="text"],.conditions select {width:15%; margin-right:2px;}

/*--- 弹窗内容 ---*/
.wincontent {margin:10px 10px 50px 10px; border:1px solid #cccccc; overflow:auto}
.window h2,.window h3 {background:#ebeff2; line-height:24px; padding-left:10px; margin:10px 10px 0 10px}
.window h2 {position:relative;}
.window h2 div {position:absolute; top:0; right:0; text-align:right;}
.window h2 a {font-weight:normal; margin-right:10px; color:#0066cc; padding:2px 0 0 18px;}
.window h2 a:hover {color:#0000ff;}
.window h3 img{vertical-align: -3px;}
.window input + label {margin-right:10px; vertical-align:middle;}

/*--- 弹窗编辑页面 ---*/
.formtable,.formtable1 {margin:10px auto 5px auto;}
.formtable {width:660px;}
.formtable td, .formtable1 td{padding:5px 0;}
.formtable .title, .formtable1 .title {text-align:right; vertical-align:top; line-height:22px; padding:5px 0 0 10px;}
.formtable .title {min-width:92px;}
.formtable input[type="text"], .formtable1 input[type="text"],
.formtable textarea, .formtable1 textarea,
.formtable input[type="password"], .formtable1 input[type="password"] {width:218px;}
.formtable select, .formtable1 select {width:220px; height:24px; padding:0;}
.formtable select[class], .formtable1 select[class] {width:218px}
.formtable .btntd , .formtable1 .btntd {text-align:right; padding-right:5px;}

/*--- 弹窗详情页面 ---*/
.tableinfo {width:700px; margin:10px auto;}
.tableinfo1 {width:450px; margin:10px auto;}
.tableinfo, .tableinfo1 {border-spacing:30px 16px; border-collapse:separate;}
.tableinfo td, .tableinfo1 td {border-bottom:1px dotted #cccccc; padding-bottom:3px; color:#004d99; overflow:hidden;}
.tableinfo .title, .tableinfo1 .title {display:inline-block; text-align:right; width:110px; color:#888888; font-weight:normal; float:left;}
.tableinfo label, .tableinfo1 label {display:block; float:left;}
.tableinfo label {width:190px;}
.tableinfo1 label {width:270px;}
.tableinfo td[colspan="2"] label {width:520px;}
.tableinfo2 {border:1px solid #cccccc; border-collapse:collapse; margin:10px auto; width:97%;}
.tableinfo2 td {border:1px dotted #cccccc; padding:8px; color:#004d99;}
.tableinfo2 .title {color:#888888; font-weight:normal;}

/*--- 步骤流程 ---*/
.stepbar {margin:10px 10px 10px 50px;}
.stepbar li {width:130px; float:left; height:30px; line-height:30px; text-align:center;}
.step01 {background:url(../images/step01.png)}
.step01select {background:url(../images/step01select.png);}
.step02 {background:url(../images/step02.png)}
.step02select {background:url(../images/step02select.png)}
.step02gray {background:url(../images/step02gray.png); color:#666666;}
.step01select,.step02select {color:#ffffff; font-weight:bold}

/*--- 树表格---*/
.treetable {position:absolute; top:1px; left:0; bottom:0; width:17%; overflow:auto; background:#e4edf2;}
.treetable .panel-body {background:#e4edf2; width:100%!important; overflow:auto;}
.treetable .panel-body > ul {margin:0 5px 0 10px;}
.treetabler {position:absolute; top:0px; left:17%; bottom:0; width:83%;}
.treetabler .conditions, .treetabler .panel {border-left:1px solid #ffffff;}

/*--- 树按钮 ---*/
.btntree {margin:5px 0;}
.btntree a {padding:0 5px 0 18px; margin:5px 0 5px 10px; background-color:#c2e2f2; background-image:url(../images/icon_tree.png); background-repeat:no-repeat; border:1px solid; border-color:#c2e2f2 #8fb8cc #8fb8cc #c2e2f2; line-height:18px; display:inline-block;}
.btntree a:hover {background-color:#85cef2;}
.btntree a.iconopen {background-position:0 4px;}
.btntree a.iconclose {background-position:-50px 4px;}
.btntree a.iconsearch {background-position:-100px 5px;}
.btntree a.iconadd {background-position:0 -16px;}
.btntree a.iconmodify {background-position:-50px -16px;}
.btntree a.icondelete {background-position:-100px -16px;}
.btntree a.iconfile {background-position:-150px -16px;}
.btntree a.iconzip {background-position:-220px -16px;}

/*--- 树弹窗---*/
.treewin .btntree {background:#f7fcff; border-bottom: 1px solid #eeeeee; margin:0;}
/*.treewin .tree {margin:10px;}*/
.treewin .btntree a {background-color:#f7fcff; border:1px solid #f7fcff; margin:5px 0 5px 5px;}
.treewin .btntree a:hover {background-color:#f0faff; border:1px solid #b6def2; border-radius:3px;}

/*--- 首页面板 ---*/
.columnbox {padding:10px 0 0 10px}
.columnbox > div {float:left; width:100%;}
.columnbox > div.w50 {width:50%;}
.column {border:1px solid #cccccc; min-height:230px; margin:0 10px 10px 0;}
.column > .title {height:27px; line-height:27px; border-top:1px solid #c3dae5; border-bottom:1px solid #b1c1cc; background:#b8ced9 url(../images/arrowcolumn.png) no-repeat 7px center; padding-left:23px; color:#333333;}
.column.content {}

/*--- 表格定位 ---*/
.topsearch, .topsearch1, .toptable, .toptreesearch, .toptreesearch1, .toptree {right:0; bottom:0; position:absolute; width:100%;}
.topsearch {top:101px;}
.topsearch1 {top:77px;}
.toptable {top:30px;}
.toptreesearch {top:72px;}
.toptreesearch1 {top:48px;}
.toptree {top:0;}

/*--- 页面表单 ---*/
.tablecontent td, .tablecontent3 td{padding:5px 0;}
.tablecontent .title {padding:5px 0 0 10px; min-width:92px;}
.tablecontent .title, .tablecontent3 .title{text-align:right; vertical-align:top; line-height:22px;}
.tablecontent3 .title {min-width:76px;}
.tablecontent input[type="text"], .tablecontent select {width:220px; height:24px; padding:0;}
.tablecontent textarea, .tablecontent select[class] {width:218px}
.tablecontent3 input[type="text"], .tablecontent3 select {width:180px; height:24px; padding:0;}
.tablecontent3 textarea, .tablecontent3 select[class] {width:178px}
.tablecontent .btntd, .tablecontent3 .btntd {text-align:right; padding-right:5px;}
.tablecontent3 td.title + td {padding-right:10px;}
.tablecontent .btn, .tablecontent3 .btn {margin:0 10px 0 0; width:80px;}

/*--- 页面详情 ---*/
.tableinfo3, .tableinfoweb {margin:5px;}
.tableinfo3 td, .tableinfoweb td {padding-bottom:3px; color:#004d99; padding:2px 0 2px 10px;}
.tableinfo3 td {width:276px;}
.tableinfo3 td[rowspan="7"] {width:190px;}
.tableinfo3 td .title, .tableinfoweb td .title  {color:#888888; width:95px; font-weight:normal}
.photo {height:180px; width:150px; border:1px solid #cccccc;}

/*--- 问卷填写 ---*/
.questionnaire {padding:10px;}
.questionnaire h1 {font-size:18px; color:#0066cc; text-align:center; padding:10px 0 5px 0; background:#f2faff;}
.questionnaire h5 {font-size:12px; text-align:center; font-weight:normal; background:#f2faff; padding:5px 0 8px 0;}
.questionnaire h2 {font-size:14px; line-height:30px; margin-top:10px; background:#fafbfc; padding-left:5px;}
.questionnaire h3 {line-height:28px; padding:10px 5px 5px 15px;}
.questionnaire .itemcontent {border-bottom:1px dotted #CCCCCC; padding:5px 5px 10px 18px; margin:0 10px 0 15px;}
.questionnaire .itemcontent li {display:inline-block; margin-right:20px;}
.liwidth li {width:150px;}
.questionnaire .inputw {margin:0 10px 0 32px;}
.questionnaire .inputw textarea, .questionnaire .inputw input {width:100%;}

/*--- 问卷统计 ---*/
.questionnaireinfo {padding:10px;}
.questionnaireinfo h1 {font-size:16px; line-height:30px; text-align:center; color:#0066cc;}
.questionnaireinfo h1 span{font-size:12px; font-weight:normal; color:#666666;}
.questionnaireinfo h2 {margin:10px 0;}
.questionnaireinfo h2 a {color:#009933; text-decoration:underline;}
.questionnaireinfo .itemcontent {text-align:right;}
.questionnaireinfo .itemcontent a span {display:inline-block; width:18px;}
.questionnaireinfo .itemcontent table {width:100%; border:1px solid #cccccc; text-align:left; margin-top:5px;}
.questionnaireinfo .itemcontent table td {border:1px solid #cccccc; padding:5px;}
.questionnaireinfo .itemcontent table th {text-align:center; border:1px solid #cccccc; padding:5px; background:#fafbfc;}
.tdcolor {background:#f2faff; font-weight:bold;}

/*--- 论坛列表 ---*/
.bbslist {}
.bbslist table {width:98%; margin:10px auto 0 auto;}
.bbslist td, .bbslist th {border-bottom: 1px dashed #cfdee5; padding:5px;}
.bbslist .icon, .bbslist .title, .bbslist .author, .bbslist .num {background:#3399cc; border-bottom:1px solid #2d86b3; color:#ffffff; padding:8px 5px;}
.bbslist .icon {width:16px;}
.bbslist .title {text-align:center;}
.bbslist .author {width:110px;}
.bbslist .num {width:80px;}
.bbslist p, .bbslist em {font-style:normal; color:#999999; font-size:11px;}
.bbslist b {font-weight:normal;}
.bbslist a {color:#009933;}
.bbslist td a {font-size:14px;}
.bbslist a:hover {color:#0066cc;}
.bbslist tr:hover {background:#cceeff;}
.bbslist .page {width:98%; margin:0 auto 10px auto; text-align:right; border-top:4px solid #52a3cc; padding-top:10px;}
.bbslist .page a {display:inline-block; padding:0 10px; height:28px; line-height:28px; border:1px solid #cfdee5;}
.bbslist .page a:hover {border:1px solid #3399cc; background:#cceeff;}
.bbslist .page a.select {background:#5cb8e5; border:1px solid #52a3cc; color:#ffffff;}