   
  body {margin:0px auto; padding:0px;} 
  .container { height:200px; width:580px; border:1px solid #cccccc; margin:0px auto;}

   .Msg { background-color:#f1f1f1; border-bottom:1px solid #e5e5e5; height:34px; line-height:34px; font-family:Arial, Helvetica, sans-serif; color:#01588f; font-size:14px;padding-left:20px; }
   
    .title { text-align:right; font:"ו"; font-size:12px; color:#282828; padding-left:20px; text-align: right; width:140px}
    .inputs {width:300px;height:25px;line-height:20px;border:1px solid #bcbcbc; margin-bottom:10px; margin-top:10px;}
	
	.dropdown { width:303px;height:30px;line-height:25px;border:1px solid #bcbcbc; margin-bottom:10px; margin-top:10px;}
    .droptext { font:"ו"; font-size:12px; color:#bbbaba; padding-top:5px;}
	
	.btn {height:24px;line-height:24px; margin-right:20px; float:left;}
		 .btn a{display:block;width:114px;height:24px;line-height:24px;text-align:center; background:url(../images/feedback/btn_bg.gif) no-repeat;
		 						  font-family:'ו';font-size:12px;color:#FFF; font-weight:bold;}
		 .btn a:link {text-decoration: none; color:#FFF;font-weight:bold;}
		 .btn a:visited{text-decoration: none;color:#FFF;font-weight:bold;}
		 .btn a:hover{text-decoration: none;color:#FFF;font-weight:bold; background:url(../images/feedback/btn_bghover.gif) no-repeat;}