@charset "utf-8";
/*css reset*/
body,div,a,img,ul,li,form,label,table,tbody,tr,td,input{margin:0; padding:0;}
body {background:#0b94da url(../images/loginbg.png) repeat-x top;}
body,input{font-size:12px; font-family:aria, Tahoma, sans-serif; color:#fff; vertical-align:-2px;}
table {border-collapse:collapse; border-spacing:0;}
ul {list-style: none;}
a,label {text-decoration:none; color:#b2e5ff; cursor:pointer;}
a:hover, .tips, label:hover, input.btnreset:hover {color:#ffff33;}
:focus {outline:0;}
input[type="checkbox"], .btnsubmit input, .btnreset {cursor:pointer;}

#main {width:100%; margin-top:-150px; top:45%; left:0; position:absolute;}
#main table {position:relative; margin:0 auto; width:75%; min-width:800px;}
/*--- LOGO ---*/
.logo {background:#0061a6; width:300px; text-align:center;}
.logo .helps {position:absolute; bottom:30px; left:10px;}
.logo .helps li {float:left;}
.logo .helps a {display:block; padding:1px 0 0 20px; line-height:18px; height:18px;}
.logo .helps .help a{background:url(../images/iconlogin.png) no-repeat 0 -50px; margin-right:20px;}
.logo .helps .support a{background:url(../images/iconlogin.png) no-repeat;}
/*--- 登录栏 ---*/
.login {background:#0b5073; width:60%; vertical-align:top; height:260px;}
.login .content {margin:0 20px 0 27%; float:left; width:200px;}
.login .content .tips {height:20px; margin:55px 0 5px 0;}
.login .content .inputtext {width:200px; height:30px; line-height:30px; background:#cceaff; margin-bottom:18px;}
.login .content .inputtext span {color:#666666; margin-left:5px;}
.login .content .inputtext input {background:#cceaff; border:0 none; width:140px;}
.login .btnsubmit {float:left; margin-top:126px;}
.login .btnsubmit input {background:#0b5073 url(../images/btn_arrow.png) no-repeat; height:36px; width:36px; border:0 none;}	
.login .btnsubmit input:hover {background:#0b5073 url(../images/btn_arrowhover.png) no-repeat;}	
.login .btnsubmit input:active {background:#0b5073 url(../images/btn_arrowhover.png) no-repeat 1px 1px \9;}	/* IE */
.login .btnreset {cursor:pointer; background:#0b5073 url(../images/iconlogin.png) no-repeat 0 -147px; width:43px; height:18px; line-height:18px; margin-left:88px; display:inline-block; text-align:right; border:0 none; color:#b2e5ff;}
#footer{color:#7fd4ff; text-align:right; padding-top:10px;}			  
