body.index-body{
	background:url(../images/bg.png);
	background-size:cover;
}
a {
    color: #00a6f3;
    text-decoration: none;
}
a:hover,a:focus{
	color:#077eb5;
	text-decoration: none;
}
/* 头部 beginning */
.headerMenu>ul li a {
    margin-top: 0px;
    line-height: 52px;
    color: #d1f0ff;
    text-align: center;
    background:none;
    display: block;
    text-decoration:none;
    color:#FFF;
    font-size:16px;
    padding-top:4px;
}
.headerMenu>ul li a i{
	font-size:18px;
	margin-right:3px;
}
.headerMenu ul li.visited_top{
	background:none;
	border-bottom:2px solid #22e2ff;
}
.headerMenu ul li:hover {
    background: none;
    border-bottom:2px solid #22e2ff;
}
.headerMenu ul li {
    float: right;
    margin-right: 5px;
    background: none;
    height: 52px;
    width: 105px;
    overflow: hidden;
}
.header{
	background:rgba(0,0,0,0.3);
	height:68px;
}
.logo {
    width: 443px;
    height: 51px;
    background: url(../images/logos.png) no-repeat;
    margin: 10px 100px 0 10px;
    float: left;
}
.main {
    z-index: 13;
    top:74px;
    background:none;
}
.personalCenter .dropdown-menu{
	position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 120px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
	left:100%;
	margin-left:-140px;
}
.personalCenter .dropdown-menu li{
	margin-right:0;
	height: 30px;
    line-height: 30px;
    padding:0px 12px;
    width:120px;
    
}

.personalCenter .dropdown-menu li:hover{
	background:#F8F8F8;
	border:none;
}
.personalCenter .dropdown-menu li a{
    color: #333;
    line-height: 22px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #eee;
    margin-left: 12px;
}
.personalCenter .dropdown-menu li a:hover{
	border:none
}
.personalCenter .dropdown-menu li:last-child a{
	border:0;
}
/* 左侧 beginning  */
#menu .panel .accordion-header-selected {
    border:none;
	background:none;
}
.accordion{
	background:rgba(0,0,0,0);
	/* width:200px !important; */
	padding:0px 40px;
	margin:0 auto
}
.panel{
	/* background:none; */
}
#menu .panel .panel-body{
    background: none;
    height: auto !important;
    padding-bottom: 10px;
    border: 0;
}
#menu .panel .accordion-header{
	background: url(../images/nav-line.png) no-repeat center bottom;
	color:#FFF;
	border:none;
}
#menu .panel .panel-body ul.tree .tree-node-selected{
	background: url(../images/nav_bg.png) no-repeat center bottom;
	color:#FFF;
}
#menu .panel .accordion-header:hover, #menu .panel .accordion-header-selected {
    background: url(../images/nav-line.png) no-repeat center bottom;
}
.panel-title{
	color:#FFF;
}
#menu .panel .panel-body ul.tree .tree-node .tree-title {
    color: #FFF;
    width:100px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.tree-icon{
	visibility:hidden;
}
#menu .panel .panel-body ul.tree .tree-node-hover {
    background: url(../images/nav_bg.png) no-repeat center bottom;
}
#menu .panel .panel-header .panel-tool a.accordion-collapse {
    background: url(../images/accordion_arrow.png) no-repeat;
}
#menu .panel .panel-header .panel-tool a.accordion-expand {
    background: url(../images/accordion_arrow.png) no-repeat -16px 0;
}
.sidebar{
	width:240px;
	background:rgba(0,0,0,0);
}
.picBox{
	left: 242px;
    background: rgba(255, 255, 255, 1) url(../images/right.png) no-repeat center left;
    width: 10px;
}
#menu .panel .accordion-header {
    padding: 12px 0
}
/* 模态框 */
.window-proxy-mask, .window-mask {
    background: rgba(0,0,0,0.3);
    opacity: 1;
    filter: alpha(opacity=100);
}
.window .window-body.panel-body {
    padding: 10px 10px 55px 10px;
    position: relative;
    /* min-height: 400px; */
}
.window .window-header {
    background: #FFF;
    border: 0;
    padding: 0;
    height: 50px;
    position: relative;
}
.window .window-header .panel-title {
    background: none;
    padding-left: 16px;
    padding-right: 16px;
    color: #333;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    /* border-bottom: 1px solid #93ddff; */
    border-bottom: 1px solid #EFEFEF;
}
.window .window-header .panel-tool .panel-tool-close {
    background: url(../images/win_close.png) no-repeat;
}
.window .tabs-container .tabs-header.tabs-header-left {
    background: #F0F2F5;
    border-right: 1px #F1F1F1 solid;
}
.window .tabs-container .tabs-header.tabs-header-left .tabs-wrap .tabs {
	padding:0
}
.window .tabs-container .tabs-header.tabs-header-left .tabs-wrap,
.window .tabs-container .tabs-header.tabs-header-left .tabs-wrap ul.tabs {
    width: 150px!important;
}
.window .tabs-container .tabs-header.tabs-header-left .tabs-wrap .tabs li {
    height: 56px;
    width:100%;
    border:1px #E7E7E7 solid;
    background: #F0F2F5;
    border-right:0;
    margin-top:-1px;
}
.window .panel-body {
    overflow: visible;
}
.formtable {
    width: auto;
}
.window .window-header .panel-tool {
    right: 16px;
}
.window .tabs-container .tabs-header.tabs-header-left .tabs-wrap .tabs li a {
    color: #686767;
    width: 100%;
    text-align: center;
    margin-top: 0;
    line-height:56px !important;
    padding: 0;
}
.window .tabs-container .tabs-header.tabs-header-left{
	width:150px !important;
    margin-left: -2px;
}
.window .tabs-container .tabs-panels.tabs-panels-right .conditionsBtn {
    left: 151px;
    background:#FFF;
}
.window .tabs-container .tabs-header.tabs-header-left .tabs-wrap .tabs li.tabs-selected a {
    color: #00a6f3;
}
label.inputVal{
	line-height: 25px;
	font-weight:normal;
}
/* 上传按钮 */

.formtable input[type='button'], .formtable1 input[type='button'], .edittable input[type='button'], .edittable2 input[type='button'] {
    border: 1px solid;
    border-color: #00A6F3;
    background: #00A6F3;
    width: 80px;
    padding: 0 6px !important;
    height: 34px;
    line-height: 34px !important;
    border-radius:6px;
    color:#FFF;
}
.formtable input[type='button']:hover, .formtable1 input[type='button']:hover, .edittable input[type='button']:hover, .edittable2 input[type='button']:hover,
.formtable input[type='button']:focus, .formtable1 input[type='button']:focus, .edittable input[type='button']:focus, .edittable2 input[type='button']:focus{
	background:#005580;
	border-color:#005580;
}
input[type='button']:disabled,
input[type='button']:disabled:hover {
    cursor: not-allowed;
    border-color: #CCC;
    background: #CCC;
    color:#FFF;
}
.panel .combo,
.panel textarea.inputVal,
.panel input.inputVal{
   /*  padding: 6px 12px; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.panel .combo,.panel input.inputVal{
    height: 34px !important;
}
.panel textarea.inputVal{
	min-height:36px !important;
}
.panel textarea.inputVal:focus,
.panel input.inputVal:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.window .window-body .messager-button, .conditionsBtn, .conditionsBtnDis{
	height:56px;
	background:#FFF;
    border-top: 1px solid #efefef;
}
.conditionsBtn a, .conditionsBtn input, .conditionsBtn2 a, .messager-button a, .conditionsBtn button {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    border: 1px solid #00A6F3;
    background: #00A6F3;
    border-radius:6px;
    min-width: 90px;
    min-height: 36px;
    line-height: 36px;
    margin: 7px 9px 0 0;
}
.window .window-body .messager-button, .conditionsBtn2, .conditionsBtnDis {
    background: #FFF;
}
.window .window-body .messager-button a.l-btn .l-btn-left .l-btn-text {
    height: 36px;
    line-height: 36px;
    width: 90px;
    border-radius:6px;
}
#certificateListTab{
	/* margin-top:-30px; */
  	padding-left: 0;	
    padding-right: 0;
}
#certificateListTab .panel-body{
	padding-left: 0;	
    padding-right: 0;
}
.datagrid-header-row{
	background:#EFEFEF;
	height:34px;
}
.datagrid-htable,.datagrid-btable{
	border:1px solid #EFEFEF;
}
.datagrid-row {
    height: 34px;
    background: none repeat scroll 0% 0% #FFFFFF;
}
.datagrid-row-alt {
    background: #F5F5F5;
}
.datagrid-header td.datagrid-header-over {
  background: none;
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td{
	border:1px solid #EFEFEF;
}
.datagrid-row-over{
  background: #f8f8f8;
}

.tableinfo td, .tableinfo1 td, .tableinfo2 td {
    border-bottom: 1px solid #efefef;
    padding-bottom: 3px;
}
.panel .formtable input,.panel  .formtable1 input,.panel  .edittable input,.panel  .edittable2 input{
	width:180px !important;
	line-height:34px !important;
}
/*日期选择器  */
.datebox .combo-arrow {
    background-position: center center;
    position: absolute;
    right: 4px;
}
.panel .combo{
	position:relative;
}
.panel .combo-panel{
	padding:0
}
#resumeTabs,div.tabs-panels.tabs-panels-right,div.tabs-panels.tabs-panels-right .panel,#userInfoTab{
	height:100% !important;
}
.footer{
	background:rgba(0,0,0,0);
	color:#FFF;
	border:0;
}
/* tab */
.tabs-header {
    height: 52px;
    margin-bottom:10px;
}
.tabs-wrap{
	height: 52px;
}
.tabs {
    height: 41px !important;
    margin-top:10px;
}
.tabs li a.tabs-inner{
	border:0;
	background:rgba(0,0,0,0);
	height: 40px !important;
	padding:0px 12px;
	min-width:60px;
}
.tabs li.tabs-selected a.tabs-inner {
 	height: 40px !important;
 	border:1px solid #d3d3d3;
    border-bottom: 1px solid #ffffff;
    padding:0px 12px;
    border-radius:4px 4px 0px 0px;
    min-width:60px;
}

.tabs li a.tabs-inner:hover {
    background: #d3d3d3;
    color: #000000;
    filter: none;
    border:1px solid #d3d3d3;
    border-radius:4px 4px 0px 0px;
    padding:0px 12px;
    min-width:60px;
}
.sidebar{
	border:0;
}
.combo-arrow{
	margin-top:7px;
}
/* 样式begin-z */
.tops2{
	background:#fff;
}
.rightContent {
	background:#fff;
}
.datas .datagrid .panel-body .datagrid-view .datagrid-header, .datas .datagrid .panel-body .datagrid-view .datagrid-td-rownumber{
	background:#EFEFEF!important;
}
.datas .datagrid .panel-body .datagrid-pager{
	background:#EFEFEF!important;
}

/* 样式end-z */

/* 日期选择器 */
.WdateDiv .MTitle {
    background-color: #00a6f3;
    color: #FFF;
}
.WdateDiv .menuOn {
    cursor: pointer;
    background-color: rgba(0,166,243,0.3);
}