<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fable.insightview.platform.modulelog.mapper.SystemLogBeanMapper" >
    <resultMap id="BaseResultMap" type="com.fable.insightview.platform.modulelog.entity.SystemLogBean" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="SYS_ID" property="sysId" jdbcType="VARCHAR" />
        <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
        <result column="USERNAME" property="username" jdbcType="VARCHAR" />
        <result column="PAGE_NAME" property="pageName" jdbcType="VARCHAR" />
        <result column="URL" property="url" jdbcType="VARCHAR" />
        <result column="METHOD_NAME" property="methodName" jdbcType="VARCHAR" />
        <result column="CLIENT_NAME" property="clientName" jdbcType="VARCHAR" />
        <result column="IP" property="ip" jdbcType="VARCHAR" />
        <result column="CLIENT_AGENT" property="clientAgent" jdbcType="VARCHAR" />
        <result column="NOTE" property="note" jdbcType="VARCHAR" />
        <result column="CREATOR_ID" property="creatorId" jdbcType="VARCHAR" />
        <result column="CREATOR_NAME" property="creatorName" jdbcType="VARCHAR" />
        <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        ID, SYS_ID, USER_ID, USERNAME, PAGE_NAME, URL, METHOD_NAME, CLIENT_NAME, IP, CLIENT_AGENT, 
        NOTE, CREATOR_ID, CREATOR_NAME, CREATED_TIME
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from FBS_SYSTEM_LOG
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from FBS_SYSTEM_LOG
        where ID = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.fable.insightview.platform.modulelog.entity.SystemLogBean" >
        insert into FBS_SYSTEM_LOG (ID, SYS_ID, USER_ID, 
            USERNAME, PAGE_NAME, URL, 
            METHOD_NAME, CLIENT_NAME, IP, 
            CLIENT_AGENT, NOTE, CREATOR_ID, 
            CREATOR_NAME, CREATED_TIME)
        values (#{id,jdbcType=VARCHAR}, #{sysId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
            #{username,jdbcType=VARCHAR}, #{pageName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
            #{methodName,jdbcType=VARCHAR}, #{clientName,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
            #{clientAgent,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR}, 
            #{creatorName,jdbcType=VARCHAR}, now())
    </insert>
    <insert id="insertSelective" parameterType="com.fable.insightview.platform.modulelog.entity.SystemLogBean" >
        insert into FBS_SYSTEM_LOG
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="sysId != null" >
                SYS_ID,
            </if>
            <if test="userId != null" >
                USER_ID,
            </if>
            <if test="username != null" >
                USERNAME,
            </if>
            <if test="pageName != null" >
                PAGE_NAME,
            </if>
            <if test="url != null" >
                URL,
            </if>
            <if test="methodName != null" >
                METHOD_NAME,
            </if>
            <if test="clientName != null" >
                CLIENT_NAME,
            </if>
            <if test="ip != null" >
                IP,
            </if>
            <if test="clientAgent != null" >
                CLIENT_AGENT,
            </if>
            <if test="note != null" >
                NOTE,
            </if>
            <if test="creatorId != null" >
                CREATOR_ID,
            </if>
            <if test="creatorName != null" >
                CREATOR_NAME,
            </if>
            <if test="createdTime != null" >
                CREATED_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="sysId != null" >
                #{sysId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="username != null" >
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="pageName != null" >
                #{pageName,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null" >
                #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="clientName != null" >
                #{clientName,jdbcType=VARCHAR},
            </if>
            <if test="ip != null" >
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="clientAgent != null" >
                #{clientAgent,jdbcType=VARCHAR},
            </if>
            <if test="note != null" >
                #{note,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null" >
                #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null" >
                #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null" >
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fable.insightview.platform.modulelog.entity.SystemLogBean" >
        update FBS_SYSTEM_LOG
        <set >
            <if test="sysId != null" >
                SYS_ID = #{sysId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                USER_ID = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="username != null" >
                USERNAME = #{username,jdbcType=VARCHAR},
            </if>
            <if test="pageName != null" >
                PAGE_NAME = #{pageName,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                URL = #{url,jdbcType=VARCHAR},
            </if>
            <if test="methodName != null" >
                METHOD_NAME = #{methodName,jdbcType=VARCHAR},
            </if>
            <if test="clientName != null" >
                CLIENT_NAME = #{clientName,jdbcType=VARCHAR},
            </if>
            <if test="ip != null" >
                IP = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="clientAgent != null" >
                CLIENT_AGENT = #{clientAgent,jdbcType=VARCHAR},
            </if>
            <if test="note != null" >
                NOTE = #{note,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null" >
                CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null" >
                CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null" >
                CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fable.insightview.platform.modulelog.entity.SystemLogBean" >
        update FBS_SYSTEM_LOG
        set SYS_ID = #{sysId,jdbcType=VARCHAR},
            USER_ID = #{userId,jdbcType=VARCHAR},
            USERNAME = #{username,jdbcType=VARCHAR},
            PAGE_NAME = #{pageName,jdbcType=VARCHAR},
            URL = #{url,jdbcType=VARCHAR},
            METHOD_NAME = #{methodName,jdbcType=VARCHAR},
            CLIENT_NAME = #{clientName,jdbcType=VARCHAR},
            IP = #{ip,jdbcType=VARCHAR},
            CLIENT_AGENT = #{clientAgent,jdbcType=VARCHAR},
            NOTE = #{note,jdbcType=VARCHAR},
            CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
            CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
            CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    
    <!-- 查询访问记录的条件 -->
    <sql id="queryAccessLogsCond">
    	<trim prefix="WHERE" prefixOverrides="AND|OR">
        	<if test="username!=null and username!=''" >
                username LIKE '%' || #{username,jdbcType=VARCHAR} || '%'
            </if>
            <if test="ip!=null and ip!=''" >
                AND ip LIKE '%' || #{ip,jdbcType=VARCHAR} || '%'
            </if>
            <if test="url!=null and url!=''" >
                AND url LIKE '%' || #{url,jdbcType=VARCHAR} || '%'
            </if>
            <if test="methodName!=null and methodName!=''" >
                AND method_name LIKE '%' || #{methodName,jdbcType=VARCHAR} || '%'
            </if>
            <if test="startTime!=null" >
                AND created_time >= #{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime!=null" >
                <![CDATA[AND created_time <= #{endTime,jdbcType=TIMESTAMP}]]>
            </if>
        </trim>
    </sql>
    
    <!-- 查询满足条件的记录 -->
    <select id="queryAccessLogs" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT * 
        FROM (SELECT temp.*, ROWNUM rn 
			  FROM (SELECT user_id,username, ip, page_name, url, method_name,created_time, client_name, client_agent
			        FROM fbs_system_log
			        <include refid="queryAccessLogsCond"/>) temp
			  <![CDATA[WHERE ROWNUM <= ${endIndex}]]>)
		WHERE rn >= ${startIndex}
    </select>
    
    <!-- 查询满足条件的记录数 -->
    <select id="queryAccessLogCount" resultType="java.lang.Integer" parameterType="com.fable.insightview.platform.modulelog.entity.SystemLogBean" >
    	SELECT count(1) 
  		FROM fbs_system_log
  		<include refid="queryAccessLogsCond"/>
    </select>
</mapper>