<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.fable.insightview.platform.GuzhangrizManager.mapper.GuzhangrizManagerMapper">

<select id="queryGuzhangrizManagerList"  resultType="com.fable.insightview.platform.GuzhangrizManager.entity.GuzhangrizManager" parameterType="page">
select * from BackupRecode where 1=1
<if test="params.tablename!=null and params.tablename!=''">
  and  tablename like ${concat("'%'", "'"+params.tablename+"'" ,"'%'")}
</if>
</select>


	<select id="queryBackupRecodes"  resultType="com.fable.insightview.platform.GuzhangrizManager.entity.GuzhangrizManager" parameterType="com.fable.insightview.platform.GuzhangrizManager.entity.GuzhangrizManager">
		select * from BackupRecode where 1=1
		<if test="tableName!=null and tableName!=''">
			and  tablename like ${concat("'%'", "'"+tableName+"'" ,"'%'")}
		</if>
		<if test="id!=null and id!=''">
			and  id = #{id}
		</if>
	</select>
	
	<update id="updateBackupRecode" parameterType="com.fable.insightview.platform.GuzhangrizManager.entity.GuzhangrizManager">
		UPDATE BackupRecode SET 
			dataRestoreStartTime = #{dataRestoreStartTime},
			dataRestoreEndTime = #{dataRestoreEndTime},
			dataRestoreResult = #{dataRestoreResult},
			dataRestoreTotal = #{dataRestoreTotal}
		WHERE id = #{id}
	</update>

</mapper>

