<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-config.dtd">     
<configuration>
	<typeAliases>
		<typeAlias alias="page" type="com.fable.insightview.platform.page.Page"/>  
		<!-- package name="com.fable.insightview.platform.demo.entity"/> -->  
		</typeAliases>
	<plugins>  
        <plugin interceptor="com.fable.insightview.platform.page.PageInterceptor"/>
    </plugins>
</configuration>