<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fable.insightview.monitor.servermanageddomain.mapper.ServerManagedDomainMapper">
	<resultMap id="serverManagedDomainMap" type="com.fable.insightview.monitor.servermanageddomain.entity.ServerManagedDomainBean">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="ServerID" property="serverId" jdbcType="INTEGER" />
		<result column="DomainID" property="domainId" jdbcType="INTEGER" />
	</resultMap>
	
	<select id="getByServerID" resultType="com.fable.insightview.monitor.servermanageddomain.entity.ServerManagedDomainBean"  parameterType="Integer">
		select * from ServerManagedDomain where ServerID=#{serverId}
    </select>
    
    <delete id="delByServerId" parameterType="Integer">
    	delete from ServerManagedDomain where ServerID=#{serverId}
    </delete>
    
    <insert id="insertInfo" parameterType="com.fable.insightview.monitor.servermanageddomain.entity.ServerManagedDomainBean">
    	insert into ServerManagedDomain (ID,ServerID,DomainID)
		values (
		#{id,jdbcType=INTEGER}, #{serverId,jdbcType=INTEGER},#{domainId,jdbcType=INTEGER}
      	)
    </insert>
</mapper>