<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fable.insightview.monitor.discover.mapper.SynchronResResultMapper">
	<insert id="insert" parameterType="com.fable.insightview.monitor.discover.entity.SynchronResResult" >
    insert into SyncMObjectResultLog (ID,MOID,MOClassID,ResID,ResTypeID,ExecFlag,ErrorDescr,AccpetTime)
    values (#{id,jdbcType=INTEGER},#{moID,jdbcType=INTEGER},
      #{moClassID,jdbcType=INTEGER},#{resID,jdbcType=INTEGER}, 
      #{resTypeID,jdbcType=INTEGER},#{execFlag,jdbcType=INTEGER}, 
      #{errorDescr,jdbcType=VARCHAR},${sysdate()})
  </insert>
</mapper>

