<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fable.insightview.platform.dutymanager.duty.mapper.DutyChangeMapper">

	<select id="selectDutyById" resultType="PfDuty">
		SELECT ID,LeaderId,DutyDate FROM PfDuty WHERE ID=#{dutyId, jdbcType=INTEGER}
	</select>

	<select id="selectDutyByDate" resultType="PfDuty">
		SELECT ID,LeaderId,DutyDate FROM PfDuty WHERE DutyDate=#{dutyDate, jdbcType=DATE}
	</select>
	
	<select id="selectUsernameByUserId" resultType="String">
		SELECT UserName FROM SysUserInfo WHERE UserID=#{userId, jdbcType=INTEGER}
	</select>
	
	<select id="selectUserIdsByDutyId" resultType="Integer">
		SELECT DISTINCT UserId FROM PfUsersOfDuty WHERE DutyId=#{dutyId, jdbcType=INTEGER}
	</select>
	
	<select id="selectDutyChangeRecordsByDutyDate" resultType="DutyChangeRecord">
		SELECT * FROM PfDutyChangeRecords WHERE DutyId=(SELECT ID FROM PfDuty WHERE DutyDate=#{dutyDate,jdbcType=DATE})
	</select>
	
	<select id="selectAllDutyers" resultType="HASHMAP">
		SELECT su.UserID id,su.UserName name,se.OrganizationID FROM SysUserInfo su,SysEmployment se,SysUserInGroups sug 
		WHERE 
		su.UserID=se.UserID AND su.UserID=sug.UserID AND sug.GroupID=10
		AND se.OrganizationID=(SELECT OrganizationID FROM SysEmployment WHERE UserID=#{userId,jdbcType=INTEGER})
	</select>
	
	<insert id="insertDutyChangeRecord" parameterType="DutyChangeRecord">
		INSERT INTO PfDutyChangeRecords(ID,DutyId,Handler,FromUser,ToUser,Happen)
		<trim prefix="values (" suffix=")">
			#{id,jdbcType=INTEGER},
			#{dutyId,jdbcType=INTEGER},
			#{handler,jdbcType=VARCHAR},
			#{fromUser,jdbcType=VARCHAR},
			#{toUser,jdbcType=VARCHAR},
			#{happen,jdbcType=DATE}
		</trim>
	</insert>
	
	<update id="updateDutyUser">
		 UPDATE PfUsersOfDuty 
		 SET UserId=#{toUserId,jdbcType=INTEGER} 
		 WHERE DutyId=#{dutyId,jdbcType=INTEGER} AND UserId=#{fromUserId,jdbcType=INTEGER}
	</update>
	
	<update id="updateDutyLeader">
		UPDATE PfDuty
		<set>
			LeaderId=#{toUserId,jdbcType=INTEGER}
		</set>
		<where>
			ID=#{dutyId,jdbcType=INTEGER}
		</where>
	</update>
</mapper>