<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fable.insightview.monitor.alarmmgr.devicewblistsetting.mapper.SysBlackListTaskMapper" >
  <resultMap id="BaseResultMap" type="com.fable.insightview.monitor.alarmmgr.devicewblistsetting.entity.SysBlackListTaskBean" >
    <id column="TaskID" property="taskID" jdbcType="INTEGER" />
    <result column="OperateStatus" property="operateStatus" jdbcType="INTEGER" />
    <result column="ProgressStatus" property="progressStatus" jdbcType="INTEGER" />
    <result column="LastStatusTime" property="lastStatusTime" jdbcType="TIMESTAMP" />
    <result column="CollectorID" property="collectorID" jdbcType="INTEGER" />
    <result column="BlackID" property="blackID" jdbcType="INTEGER" />
    <result column="Creator" property="creator" jdbcType="INTEGER" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="LastOPResult" property="lastOPResult" jdbcType="INTEGER" />
    <result column="OldCollectorID" property="oldCollectorID" jdbcType="INTEGER" />
    <result column="ErrorInfo" property="errorInfo" jdbcType="VARCHAR" />
    <result column="IsOffline" property="isOffline" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TaskID, OperateStatus, ProgressStatus, LastStatusTime, CollectorID, BlackID, Creator, 
    CreateTime, LastOPResult, OldCollectorID, ErrorInfo, IsOffline
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SysBlackListTask
    where TaskID = #{taskID,jdbcType=INTEGER}
  </select>
  <insert id="insertSysBlackListTask" parameterType="com.fable.insightview.monitor.alarmmgr.devicewblistsetting.entity.SysBlackListTaskBean" >
	<selectKey resultType="int" order="AFTER" keyProperty="taskID">
		SELECT @@IDENTITY
	</selectKey>
    insert into SysBlackListTask
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operateStatus != null" >
        OperateStatus,
      </if>
      <if test="progressStatus != null" >
        ProgressStatus,
      </if>
      <if test="lastStatusTime != null" >
        LastStatusTime,
      </if>
      <if test="collectorID != null" >
        CollectorID,
      </if>
      <if test="blackID != null" >
        BlackID,
      </if>
      <if test="creator != null" >
        Creator,
      </if>
      <if test="createTime != null" >
        CreateTime,
      </if>
      <if test="lastOPResult != null" >
        LastOPResult,
      </if>
      <if test="oldCollectorID != null" >
        OldCollectorID,
      </if>
      <if test="errorInfo != null" >
        ErrorInfo,
      </if>
      <if test="isOffline != null" >
        IsOffline,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operateStatus != null" >
        #{operateStatus,jdbcType=INTEGER},
      </if>
      <if test="progressStatus != null" >
        #{progressStatus,jdbcType=INTEGER},
      </if>
      <if test="lastStatusTime != null" >
        #{lastStatusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="collectorID != null" >
        #{collectorID,jdbcType=INTEGER},
      </if>
      <if test="blackID != null" >
        #{blackID,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOPResult != null" >
        #{lastOPResult,jdbcType=INTEGER},
      </if>
      <if test="oldCollectorID != null" >
        #{oldCollectorID,jdbcType=INTEGER},
      </if>
      <if test="errorInfo != null" >
        #{errorInfo,jdbcType=VARCHAR},
      </if>
      <if test="isOffline != null" >
        #{isOffline,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="selectRowByBlackID" resultMap="BaseResultMap">
  	SELECT * FROM SysBlackListTask where BlackID = #{blackID,jdbcType=INTEGER}
  </select>
  
  <update id="updateOperateStatusByBlackID">
  	UPDATE SysBlackListTask
  	SET OperateStatus = #{operateStatus,jdbcType=INTEGER}
  	,ProgressStatus = 1
  	  <if test="collectorID != null" >
        ,CollectorID = #{collectorID,jdbcType=INTEGER}
      </if>
      <if test="oldCollectorID != null" >
        ,OldCollectorID = #{oldCollectorID,jdbcType=INTEGER}
      </if>
  	WHERE BlackID = #{blackID,jdbcType=INTEGER}
  </update>
</mapper>